@page "/"
@page "/inicio"
@page "/start"
@* @layout BlazorApp1.Components.Layout.EmptyLayout *@

<PageTitle>Home</PageTitle>

<h1>Hello, world! v2</h1>
<SuperTitulo></SuperTitulo>
<SuperTitulo />

Welcome to your new app.



<CounterComponent />