@page "/alumnos"

<PageTitle>Alumnos</PageTitle>

<h1>Alumnos</h1>

<p>...</p>

<a class="btn btn-primary" 
   href="/alumnos/nuevo">+ Alumno</a>

Listado de alumnos [Total @alumnosTotal]


@code 
{
	int alumnosTotal = 0;

	protected override void OnInitialized()
	{
		alumnosTotal = (new AlumnoRepository()).Todos().Count;
	}
   
}
